body {
    background-color: pink;
    border-left: 10px solid black; 
    border-right: 10px solid black;
    border-top: 10px solid black;
    border-bottom: 10px solid black; 

    
}

h1 {
    text-align: center;
    color: purple;
}

h2 {
    text-align: center;
    color: purple;
}

 h3 {
    text-align: center;
    color: purple;
}

h4 {
    text-align: center;
    color: purple; 
}

article {
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    text-align: center;
    color: purple;
}

footer {
text-align: center;
    color: purple;
    padding-top: 20px;
    padding-bottom: 20px;
}
